@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 20s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    
    text-align: center;
}

.vertical-centered {
    min-height: 100vh;
    -webkit-transform: translateY(40%);
    -ms-transform: translateY(40%);
    transform: translateY(40%);
}

.logo-container .logo {
    width: 255px;
    height: 90px;
    background: url(http://kahoot.it/shared/theme/kahoot/img/icn_kahoot_logo.svg) center/contain no-repeat;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}

form {
    margin-top: 10px;
}

input.username {
    border: .125rem solid #ccc;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 50px;
    line-height: 50px;
    color: #333;
    text-align: center;
    width: 93.34%;
    max-width: 300px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    margin-bottom: 10px;
    font-size: 20px;
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    font-weight: 700;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border linear .2s,box-shadow linear .2s;
}

button {
    width: 93.34%;
    max-width: 300px;
}

.btn {
    box-shadow: none;
    outline: 0;
    box-sizing: border-box;
    margin: auto;
    line-height: 20px;
    text-align: center;
    
    padding: 4px 14px;
    margin-bottom: 0;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #c5c5c5;
}

.btn-greyscale {
    display: block;
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    box-shadow: 0 -3px 0 0 rgba(0,0,0,.15) inset;
    border-radius: 2px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-image: linear-gradient(to bottom,#333,#333);
    background-repeat: repeat-x;
    border-color: #333 #333 #0d0d0d;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-position: 0;
    min-width: 100px;
    height: 50px;
    
    background-color: #333;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}
